@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.transition-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.transition-container > * {
	grid-row: 1;
	grid-column: 1;
}

:root {
	scroll-behavior: smooth;
}
